@font-face
{
	font-family: 'Arial';
	src: url('./ARIALN.TTF');
}

.font-size-16
{
	font-size: 16px;
}

.font-size-18
{
	font-size: 18px;
}

.font-size-20
{
	font-size: 20px;
}

.font-size-30
{
	font-size: 30px;
}

.font-size-35
{
	font-size: 35px;
}

.font-size-40
{
	font-size: 40px;
}

.font-weight-700
{
  font-weight: 700;
}