.about-us__part
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__part__right
{
  width: 60%;
}

@media only screen and (max-width: 992px) {
  .about-us
  {
    width: 95%;
  }

  .about-us__part
  {
    flex-direction: column;
  }

  .about-us__part__right
  {
    width: 100%;
  }
}


@media only screen and (max-width: 992px) {
  .about-us__text
  {
    margin-bottom: 15px;
  }

  .about-us-part__heading
  {
    margin-top: 10px;
  }
}
