.link-buttons__main
{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 68px;
}

.accordion-button
{
  width: 100%;
}

.accordion
{
  width: 100%;
  display: inline-block;
  height: 0px;
  overflow: hidden;
  transition: all .4s;
}

.accordion-text
{
  display: -webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



@media only screen and (max-width: 992px) {
  .link-buttons__main
  {
    width: 95%;
    grid-template-columns: auto auto;
  }


  .accordion-button
  {
    text-align: end;
    padding-right: 20px;
  }
}


@media only screen and (max-width: 768px) {
  .link-buttons__main
  {
    gap: 40px;
  }
}
