.accordion-button-container
{
  width: calc(100% / 3);
}

.accordion-button
{
  width: 100%;
}

.accordion
{
  width: 100%;
  display: inline-block;
  height: 0px;
  overflow: hidden;
  transition: all .4s;
}

.accordion-text
{
  display: -webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}