input{
  outline: none;
}

textarea
{
  resize: vertical;
  outline: none;
}

.form-buttons__button
{
  width: 100%;
}


@media only screen and (max-width: 768px) {
  .form-buttons__button
  {
    line-height: 20px;
  }
}