.header__navigation
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left-column
{
  width: 50%;
}

.header__right-column
{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__list
{
  display: flex;
}

.heading-links__list-link
{
  text-decoration: none;
}

.language__content
{
  display: flex;
}


@media only screen and (max-width: 992px) {
  .header__left-column
  {
    width: 30%;
  }

  .header__right-column
  {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .header__navigation
  {
    width: 95%;
    align-items: center;
    margin: 0 auto;
  }

  .header__right-column
  {
    display: none;
  }

  .menu__list
  {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
}