.header
{

}

.header__navigation
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left-column
{
  width: 50%;
}

.header__right-column
{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__list
{
  display: flex;
}

.heading-links__list-item
{
  list-style: none;
}

.heading-links__list-link
{
  text-decoration: none;
}

.language__content
{
  display: flex;
}

.logotype
{

}