.svg__icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: -10px;
}


.links-buttons-main__items
{
  display: flex;
  justify-content: space-between;
}

.main__item-link
{
  width: 27%;
  position: relative;
}