.svg__icon
{
  width: 70.754px;
  height: 70.754px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: -10px;
}


.links-buttons-main__items
{
  display: flex;
  justify-content: space-between;
}

.main__item-link
{
  position: relative;
  z-index: 1;
}


@media only screen and (max-width: 992px) {
  .svg__icon
  {
    width: 65.754px;
    height: 65.754px;
    left: 25px;
    bottom: -7px;
  }
}