.splide2 .splide__track .splide__track .splide__list
{
  width: 100%;
}

.splide__slide__item
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}


@media only screen and (max-width: 768px) {
  .splide2
  {
    height: 50px;
  }
}