.mobile__header
{
  display: none;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.header
{
  position: relative;
}

.menu-mobile
{
  position: absolute;
  width: 50%;
  top: 100px;
  left: -100%;
  z-index: 2;
  height: 80vh;
  overflow: hidden;
  transition: all .3s;
}

.menu-mobile.show
{
  left: 0;
}

.language__list-dropdown
{
  position: absolute;
  top: 70px;
  z-index: 2;
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.language__list-dropdown.show
{
  height: 66px;
}

.language__toggle
{
  display: flex;
  align-items: center;
}

.language__toggle-icon
{
  display: flex;
  transition: transform .5s;
}

.language__toggle-icon.show{
  transform: rotate(180deg)
}

.header-toogle-icon-on
{
  display: none;
}




@media only screen and (max-width: 768px) {
  .mobile__header
  {
    display: flex;
  }

}
