.news-container
{
  display: flex;
}

.news
{
  width: calc(100% / 2);
}

.news__items
{
  width: calc(100% / 2);
  height: 700px;
  overflow: auto;
}

.news__heading
{
  width: 78%;
}


.mobile-menu-news-items-btns
{
  width: 40px;
  display: flex;
}

.news-items-menu-off
{
  display: none;
  width: 100%;
}

.news-items-menu-on
{
  display: none;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .news-items-container
  {
    width: 95%;
  }

  .news-container
  {
    flex-direction: column;
  }

  .news
  {
    width: 100%;
  }

  .news__items
  {
    width: 80%;
    height: 530px;
    position: absolute;
    left: -100%;
    transition: all .3s;
  }

  .news__items.show
  {
    left: 0;
  }

  .news-items-menu-off
  {
    display: flex;
  }

}
