/* border-radius */

.border-radius-60-0
{
  border-radius: 60px 0 0 0;
}

.border-radius-0-60
{
  border-radius: 0px 60px 0px 0px;
}

.border-radius-40-2
{
  border-radius: 40px 2px 2px 2px;
}

.border-radius-30
{
  border-radius: 30px;
}

.border-radius-top-right-70
{
  border-top-right-radius: 70px;
}

.border-radius-8
{
  border-radius: 8px;
}

.border-radius-4
{
  border-radius: 4px;
}

.border-radius-2
{
  border-radius: 2px;
}

.border-radius-75px-000
{
  border-radius: 75px 0 0 0;
}

.border-radius-71px-000
{
  border-radius: 71px 0px 0px 0px;
}

.border-radius-0-0-60
{
  border-radius: 0px 0px 60px 0px;
}

.border-radius-50
{
  border-radius: 50%;
}

.border-radius-0-5-5-0
{
  border-radius: 0 5px 5px 0;
}


/* border */

.border-white
{
  border: 2px solid var(--color-white);
}

.border-gray
{
  border: 1px solid var(--color-gray);
}

.border-bottom-grey
{
  border-bottom: 1px solid var(--color-grey);
}

.border-blue
{
  border: 1px solid var(--color-blue);
}

.border-brown-top
{
  border-top: 2px solid var(--color-brown);
}

.border-brown-right
{
  border-right: 2px solid var(--color-brown);
}