/* text color */
.text-color-black
{
  color: var(--color-black);
}

.text-color-blue
{
  color: var(--color-blue);
}

.text-color-light-blue
{
  color: var(--color-light-blue);
}

.text-color-milk-white
{
  color: var(--color-milk-white);
}

.text-color-white
{
  color: var(--color-white);
}

.text-color-white-07
{
  color: var(--color-white-07);
}

.text-color-dark-gray
{
  color: var(--color-dark-gray);
}

.text-color-yellow
{
  color: var(--color-yellow);
}


/* background-color */


.text-color-milk-white
{
  background: var(--color-milk-white);
}

.color-background-white
{
  background-color: var(--color-white);
}

.color-background-dark-blue
{
  background-color: var(--color-dark-blue);
}

.color-background-light-blue
{
  background-color: var(--color-light-blue);
}

.color-background-yellow
{
  background-color: var(--color-yellow);
}

.color-background-yellow5
{
  background-color: var(--color-yellow5);
}

.color-background-blue
{
  background-color: var(--color-blue);
}

.color-background-black-020
{
  background-color: var(--color-black-020);
}

.color-background-black-05
{
  background-color: rgba(0, 2, 3, 0.452);
}
