.padding-10
{
  padding: 10px;
}

.padding-5-10
{
  padding: 8px 10px;
}

.padding-10-15
{
  padding: 10px 15px;
}

.padding-19-60-18-29
{
  padding: 19px 60px 18px 29px;
}

.padding-18-33-12-0
{
  padding: 18px 33.5px 12px 0;
}

.padding-20-0-30
{
  padding: 20px 0 30px;
}

.padding-25-21-21-48
{
  padding: 25px 21px 21px 48px;
}

.padding-80-0-20
{
  padding: 80px 0 20px;
}

.padding-74-0
{
  padding: 74px 0;
}

.padding-40-0
{
  padding: 40px 0;
}

.padding-19-29{
  padding: 19px 29px;
}

.padding-20-0
{
  padding: 20px 0;
}

.padding-0-20
{
  padding: 0 20px;
}

.padding-15-0
{
  padding: 15px 0;
}

.padding-16-26
{
  padding: 16px 26px;
}

.padding-12-0-15
{
  padding: 12px 0 15px;
}

.padding-20-12-20-10
{
  padding: 20px 12px 20px 10px;
}

.padding-18-14
{
  padding: 18px 14px;
}

.padding-10-3
{
  padding: 5px 3px;
}


@media only screen and (max-width: 992px) {
  .padding-40-0
  {
    padding: 30px 0;
  }
}


@media only screen and (max-width: 768px) {
  .padding-20-0
  {
    padding: 10px 0;
  }

  .padding-74-0
  {
    padding: 56px 0;
  }

  .padding-12-0-15
  {
    padding: 7px 0 10px;
  }

  .padding-40-0
  {
    padding: 20px 0;
  }

}