.text-uppercase {
  text-transform: uppercase;
}

.text-center
{
  text-align: center;
}

.text-shadow
{
  text-shadow: 0px 4px 14px var(--color-black-015);
}

.line-height-19
{
  line-height: 19px;
}

.line-height-13
{
  line-height: 13px;
}

.text-absolute-center
{
  position: absolute;
  top: 50%;
}

.font-weight-700
{
  font-weight: 700;
}